/* General Elements*/
body{
	background-image: url("../images/crystalbgpurp.jpg")
}
div{
	background-color: white;
	margin: 10px;
	width: 40%
}
div{
	padding: 10px;
}

h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 40pt;
	font-family: 'Luckiest Guy', cursive;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color:white;
}
div.header, div.instructions{
	width: 50%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 100px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}